[submodule "models/all-mpnet-base-v2"]
	path = models/all-mpnet-base-v2
	url = https://huggingface.co/sentence-transformers/all-mpnet-base-v2
[submodule "models/all-MiniLM-L6-v2"]
	path = models/all-MiniLM-L6-v2
	url = https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2
